<div class="container">
    <div class="Userbar row">Userbar</div>
    <div class="Header row">The A team</div>
    <div class="MainList col-md-8">
      {{outlet}}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Share name</th>
                <th>Share owner</th>
                <th>Share created</th>
                <th>Ends in</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">aaaaa</th>
                <td>Bob the builder</td>
                <td>13 days ago</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">bbbb</th>
                <td>Billy bob junior</td>
                <td>1 month ago</td>
                <td>7 days</td>
            </tr>
            <tr>
                <th scope="row">cccc</th>
                <td>AAAAAAA</td>
                <td>1 year ago</td>
                <td>1 month</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="SideList col-md-4">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'share.comments'}}Comments{{/link-to}}</li>
                <li>{{#link-to 'share.participants'}}Participants{{/link-to}}</li>
                <li>{{#link-to 'share.options'}}Options{{/link-to}}</li>
            </ul>
        </nav>
    </div>
</div>
